* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-user {
    width: 40%;
    text-align: center;
    border: 1px solid black;
    color: white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(32, 45, 56, 0.959);
    padding: 30px;
    gap: 20px;
}

.profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid rgb(202, 195, 195);
    width: 100%;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}

.profile-content {
    color: rgb(182, 71, 184);
    font-size: 16px;
}

.form-user input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid black;
}

.form-user input[type="file"] {
    color: white;
}

.form-user button {
    width: 205px;
    margin-top: 10px;
} 